{% extends 'baseen.html' %} {% load static %} {% block content %}

<div class="hero">
    <h1 class="animate__animated animate__fadeInDown">
        Discover The Heaven on Earth
    </h1>
</div>

<div class="about">
    <h2>
        About Indonesia
    </h2>
    <div data-aos="zoom-in" data-aos-duration="1500">
        <div class="row">
            <div class="col">
                <img src="{% static 'img/about-min.jpeg' %}" alt="jakarta">
            </div>
            <div class="col">
                <p>Indonesia is the largest archipelago country in the world. Indonesia has more than 17,000 islands. Kalimantan, Java, Sulawesi, Sumatra and Papua are the main islands of Indonesia. In addition, there are several small islands in Indonesia
                    such as Bali, Kalimon Java, Gili and Lombok, all of which are local and international tourist attractions. The capital city of Indonesia is Jakarta which is located on the island of Java.
                </p>
                <p>Geographically, the Indonesian archipelago lies between 5 ° 54'08 "North Longitude to 11 ° 08'20" South Longitude and 95 ° 00'38 "to 141 ° 01'12" East Longitude. There are several islands on the equator. So that day and night have almost
                    the same time, which is 12 hours. According to its wide geographic location, Indonesia's territory is divided into 3 time zones, namely WIB (Western Indonesian Time), WITA (Central Indonesian Time) and WIT (Eastern Indonesian Time).
                    From one island to another, there may be a time difference of up to 8 hours.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="sub-hero" style=" 
background: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url({% static 'img/hero2-min.jpeg' %});
background-position: center;
background-size: cover;">
    <div data-aos="fade-up" data-aos-duration="1000">
        <h1>
            Tourist Destination
        </h1>
    </div>
</div>

<div class="natural">
    <h2>
        Natural Wonders
    </h2>

    <div class="row">
        <div class="col">
            <div data-aos="zoom-in" data-aos-duration="1000">
                <div class="card">
                    <img src="{% static 'img/pandar-min.jpg' %}" class="card-img-top" alt="pandar island">
                    <div class="card-body">
                        <p class="card-text">
                            Padar Island is the third largest island in the Komodo National Park area, after Komodo Island and Rinca Island. Compared to Komodo Island which is separated by the Linda Strait, this island is relatively closer to Rinca Island.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div data-aos="zoom-in" data-aos-duration="1000">
                <div class="card">
                    <img src="{% static 'img/bromo-min.jpg' %}" class="card-img-top" alt="bromo">
                    <div class="card-body">
                        <p class="card-text">
                            Mount Bromo is an active volcano and part of the Tengger massif, in East Java, Indonesia. The massif area is one of the most visited tourist attractions in East Java, Indonesia. The name of Bromo derived from Javanese pronunciation of Brahma, the Hindu
                            creator god.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div data-aos="zoom-in" data-aos-duration="1000">
                <div class="card">
                    <img src="{% static 'img/weekuri-min.jpg' %}" class="card-img-top" alt="weekuri">
                    <div class="card-body">
                        <p class="card-text">
                            Weekuri Lagoon is a saltwater lake located in Kalena Rongo Village, North Kodi District, Southwest Sumba Regency, East Nusa Tenggara. Weekuri Lagoon is located about 60 kilometers from the district capital, Tambolaka.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div data-aos="zoom-in" data-aos-duration="1000">
                <div class="card">
                    <img src="{% static 'img/bekantan-min.jpg' %}" class="card-img-top" alt="bekantan">
                    <div class="card-body">
                        <p class="card-text">
                            Bekantan are a type of long-nosed monkey with reddish brown hair and are one of two species in the genus Nasalis. Bekantan are endemic to the island of Borneo scattered in mangroves, swamps and coastal forests.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div data-aos="zoom-in" data-aos-duration="1000">
                <div class="card">
                    <img src="{% static 'img/cendrawasih-min.jpg' %}" class="card-img-top" alt="cendrawasih">
                    <div class="card-body">
                        <p class="card-text">Cenderawasih birds are members of the Paradisaeidae family of the order Passeriformes. They are found in eastern Indonesia. Bird members of this family are known for the male plumage of many types, especially the very elongated
                            and intricate feathers that grow from their beaks, wings or head.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div data-aos="zoom-in" data-aos-duration="1000">
                <div class="card">
                    <img src="{% static 'img/komodo-min.jpg' %}" class="card-img-top" alt="komodo">
                    <div class="card-body">
                        <p class="card-text">
                            Komodo, also known as the Komodo dragon, is a large species of monitor lizard found on Komodo, Rinca, Flores, Gili Motang and Gili Dasami in East Nusa Tenggara Province, Indonesia. This monitor lizard is also referred to by the native inhabitants of Komodo
                            Island by the local name ora.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div data-aos="zoom-in" data-aos-duration="1000">
                <div class="card">
                    <img src="{% static 'img/edelwis-min.JPG' %}" class="card-img-top" alt="edelwis">
                    <div class="card-body">
                        <p class="card-text">
                            Anaphalis javanica or Javanese edelweiss is a flowering plant species endemic to Indonesia. They are found mostly in mountainous regions of Java, southern Sumatra, southern Sulawesi and Lombok.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div data-aos="zoom-in" data-aos-duration="1000">
                <div class="card">
                    <img src="{% static 'img/anggrek-min.jpg' %}" class="card-img-top" alt="tiger orchid">
                    <div class="card-body">
                        <p class="card-text">
                            Grammatophyllum speciosum, also called giant orchid, tiger orchid, sugar cane orchid or queen of the orchids, is a species of orchid native to Indonesia. It is listed by the Guinness Book of World Records as the world's tallest orchid, with specimens
                            recorded up to 7.62 metres (25 ft) in height.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div data-aos="zoom-in" data-aos-duration="1000">
                <div class="card">
                    <img src="{% static 'img/raflesia-min.jpg' %}" class="card-img-top" alt="rafflesia arnoldi">
                    <div class="card-body">
                        <p class="card-text">
                            Rafflesia is a beautifull parasitic flower. This plant was discovered in the Indonesian rainforest by an Indonesian guide who worked for Dr. Joseph Arnold in 1818. This plant does not have true stems, leaves or roots.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="buildings">
    <h2>
        Historical Buildings
    </h2>
    <div class="row">
        <div class="col">
            <div data-aos="zoom-in" data-aos-duration="1000">
                <div class="card">
                    <img src="{% static 'img/prambanan-min.jpg' %}" class="card-img-top" alt="prambanan">
                    <div class="card-body">
                        <p class="card-text">
                            Prambanan or Rara Jonggrang is a 9th-century Hindu temple compound in Special Region of Yogyakarta, Indonesia, dedicated to the Trimūrti, the expression of God as the Creator (Brahma), the Preserver (Vishnu) and the Destroyer (Shiva). The temple compound
                            is located on Yogyakarta provinces.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div data-aos="zoom-in" data-aos-duration="1000">
                <div class="card">
                    <img src="{% static 'img/borobudur-min.jpg' %}" class="card-img-top" alt="borobudur">
                    <div class="card-body">
                        <p class="card-text">
                            Borobudur is a 9th-century Mahayana Buddhist temple in Magelang Regency, not far from the town of Muntilan, in Central Java, Indonesia. It is the world's largest Buddhist temple. The temple consists of nine stacked platforms, six square and three circular,
                            topped by a central dome. It is decorated with 2,672 relief panels and 504 Buddha statues.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div data-aos="zoom-in" data-aos-duration="1000">
                <div class="card">
                    <img src="{% static 'img/monas-min.jpg' %}" class="card-img-top" alt="monas">
                    <div class="card-body">
                        <p class="card-text">
                            The National Monument is a 132 m (433 ft) obelisk in the centre of Merdeka Square, Central Jakarta, symbolizing the fight for Indonesia. It is the national monument of the Republic of Indonesia, built to commemorate the struggle for Indonesian independence.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div data-aos="zoom-in" data-aos-duration="1000">
                <div class="card">
                    <img src="{% static 'img/maimun-min.jpg' %}" class="card-img-top" alt="maimun palace">
                    <div class="card-body">
                        <p class="card-text">
                            Maimun Palace is the palace of the Deli Sultanate which is one of the icons of Medan City, North Sumatra, located on Jalan Brigadir Jenderal Katamso, Aur, Medan Maimun, Medan. Designed by Capt. Theodoor van Erp, a soldier from the Kingdom of the Netherlands
                            which was built on the orders of the Sultan of Deli, Sultan Ma'moen Al Rasyid.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div data-aos="zoom-in" data-aos-duration="1000">
                <div class="card">
                    <img src="{% static 'img/gadang-min.jpg' %}" class="card-img-top" alt="gadang clock tower">
                    <div class="card-body">
                        <p class="card-text">
                            Jam Gadang (Minangkabau for "Big Clock") is a clock tower, major landmark, and tourist attraction in the city of Bukittinggi, West Sumatra, Indonesia. It is in the centre of the city, near the main market, Pasar Ateh. It has large clocks on each face.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div data-aos="zoom-in" data-aos-duration="1000">
                <div class="card">
                    <img src="{% static 'img/tamansari-min.jpg' %}" class="card-img-top" alt="taman sari">
                    <div class="card-body">
                        <p class="card-text">
                            Taman Sari Water Castle, is the site of a former royal garden of the Sultanate of Yogyakarta. It is located about 2 km south within the grounds of the Kraton, Yogyakarta, Indonesia. Built in the mid-18th century, the Taman Sari had multiple functions,
                            such as a resting area, a workshop, a meditation area, a defense area, and a hiding place.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="sub-hero" style=" 
background: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url({% static 'img/hero3-min.jpg' %});
background-position: center;
background-size: cover;">
    <div data-aos="fade-up" data-aos-duration="1000">
        <h1>
            Indonesian Culture
        </h1>
    </div>
</div>

<div class="dance">
    <h2>
        Traditional Show
    </h2>
    <div class="row">
        <div class="col col-big">
            <iframe src="https://www.youtube.com/embed/8fTHblviKi8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col col-big">
            <iframe src="https://www.youtube.com/embed/lLYnysvk_-E" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>

<div class="song">
    <h2>
        Traditional Songs
    </h2>
    <div class="row">
        <div class="col col-small">
            <iframe src="https://open.spotify.com/embed/track/27k71irMiXBLfVRCqVvFmp" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>
        <div class="col col-small">
            <iframe src="https://open.spotify.com/embed/track/7BtorVDYe0ex0q4b2r5kHZ" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>
        <div class="col col-small">
            <iframe src="https://open.spotify.com/embed/track/2IMCMTvNZ3KPY6ZDwMH7hq" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>
        <div class="col col-small">
            <iframe src="https://open.spotify.com/embed/track/68ZCue4lxVwVVCiF1w51jQ" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>
    </div>
</div>

<div class="batik-ulos">
    <h2>
        Batik and Ulos
    </h2>
    <div data-aos="fade-up" data-aos-duration="2000">
        <div class="row">
            <div class="col">
                <div class="card">
                    <img src="{% static 'img/batik-min.jpg' %}" class="card-img-top" alt="batik">
                    <div class="card-body">
                        <p class="card-text">
                            Batik is an Indonesian technique of wax-resist dyeing applied to whole cloth. This technique originated from the island of Java, Indonesia. Batik is made either by drawing dots and lines of the resist with a spouted tool called a tjanting, or by printing
                            the resist with a copper stamp called a cap.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="{% static 'img/ulos-min.jpg' %}" class="card-img-top" alt="ulos">
                    <div class="card-body">
                        <p class="card-text">
                            Ulos is the traditional cloth of the Batak people of North Sumatra in Indonesia. Different kinds of ulos have different ceremonial significance. The ulos is normally worn draped over the shoulder or shoulders, or in weddings to ceremonially bind the bride
                            and groom together.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="sub-hero" style=" 
background: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url({% static 'img/hero4-min.jpg' %});
background-position: center;
background-size: cover;">
    <div data-aos="fade-up" data-aos-duration="1000">
        <h1>
            Indonesian Cuisine
        </h1>
    </div>
</div>
<div class="foods">
    <div class="row">
        <div class="col">
            <div data-aos="zoom-in-right" data-aos-duration="1000">
                <div class="card">
                    <div class="row no-gutters">
                        <div class="col-md-6">
                            <img src="{% static 'img/rendang-min.jpeg' %}" class="card-img-top" alt="rendang">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <p class="card-text">
                                    Rendang is a meat dish originating from Minangkabau. This dish is produced from a long low temperature cooking process using a variety of spices and coconut milk.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div data-aos="zoom-in-left" data-aos-duration="1000">
                <div class="card">
                    <div class="row no-gutters">
                        <div class="col-md-6">
                            <img src="{% static 'img/soto-min.jpg' %}" class="card-img-top" alt="soto">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <p class="card-text">
                                    Soto is an Indonesian food such as soup made from meat and vegetable broth. The most commonly used meats are beef and chicken, but some use pork or mutton.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div data-aos="zoom-in-right" data-aos-duration="1000">
                <div class="card">
                    <div class="row no-gutters">
                        <div class="col-md-6">
                            <img src="{% static 'img/tempe-min.jpg' %}" class="card-img-top" alt="tempe">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <p class="card-text">
                                    Tempe is a traditional Indonesian soy product that is made from fermented soybeans. It is made by a natural culturing and controlled fermentation process that binds soybeans into a cake form.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div data-aos="zoom-in-left" data-aos-duration="1000">
                <div class="card">
                    <div class="row no-gutters">
                        <div class="col-md-6">
                            <img src="{% static 'img/sate-min.jpg' %}" class="card-img-top" alt="sate">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <p class="card-text">
                                    Sate is an Indonesian dish of seasoned, skewered and grilled meat, served with a sauce. Satay may consist of diced or sliced chicken, goat, mutton, beef, pork, fish, or other meats.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div data-aos="zoom-in-right" data-aos-duration="1000">
                <div class="card">
                    <div class="row no-gutters">
                        <div class="col-md-6">
                            <img src="{% static 'img/kelpon-min.jpg' %}" class="card-img-top" alt="klepon">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <p class="card-text">
                                    Klepon is a traditional Southeast Asian green-coloured balls of rice cake filled with liquid palm sugar and coated in grated coconut, originating from Indonesia. The sweet glutinous rice balls is one of popular Indonesian kue.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div data-aos="zoom-in-left" data-aos-duration="1000">
                <div class="card">
                    <div class="row no-gutters">
                        <div class="col-md-6">
                            <img src="{% static 'img/lemper-min.jpg' %}" class="card-img-top" alt="lemper">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <p class="card-text">
                                    Lemper is an Indonesian savoury snack made of rice filled with seasoned shredded chicken, fish or abon. The meat filling is rolled inside the rice and wrapped inside a banana leaf to make a packet ready for serving.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div data-aos="zoom-in-right" data-aos-duration="1000">
                <div class="card">
                    <div class="row no-gutters">
                        <div class="col-md-6">
                            <img src="{% static 'img/kopi-min.JPG' %}" class="card-img-top" alt="Luwak Coffee">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <p class="card-text">
                                    Kopi luwak is a coffee that consists of partially digested coffee cherries, which was eaten and defecated by the Asian palm civet. Kopi luwak is produced mainly on the Indonesian islands of Sumatra, Java, Bali, and Sulawesi.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div data-aos="zoom-in-left" data-aos-duration="1000">
                <div class="card">
                    <div class="row no-gutters">
                        <div class="col-md-6">
                            <img src="{% static 'img/jamu-min.jpeg' %}" class="card-img-top" alt="jamu">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <p class="card-text">
                                    Jamu is a traditional medicine from Indonesia. It is predominantly a herbal medicine made from natural materials, such as roots, bark, flowers, seeds, leaves, fruits, honey, royal jelly, milk and eggs.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="sub-hero" style=" 
background: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url({% static 'img/hero5-min.jpeg' %});
background-position: center;
background-size: cover;">
    <div data-aos="fade-up" data-aos-duration="1000">
        <h1>
            Let's Go To Indonesia
        </h1>
    </div>
</div>
<div class="tour">
    <h3>
        Our Tour Package
    </h3>
    <div class="row">
        <div class="col">
            <div class="card">
                <img src="{% static 'img/bali-pura.jpg'%}" class="card-img-top" alt="bali">
                <div class="card-body">
                    <h4 class="card-title">Bali Tour</h4>
                    <h4 class="card-title">Start from: USD 316.99 </h4>
                    <p class="card-text">3D2N. <br> Packages for 2 or more people.</p>
                    <a href="#" class="btn btn-dark">Detail</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="{% static 'img/lombok.jpg'%}" class="card-img-top" alt="lombok">
                <div class="card-body">
                    <h4 class="card-title">Lombok Tour</h4>
                    <h4 class="card-title">Start from: USD 408.99</h4>
                    <p class="card-text">3D2N.<br> Packages for 2 or more people. </p>
                    <a href="#" class="btn btn-dark">Detail</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="{% static 'img/medan.jpg'%}" class="card-img-top" alt="medan">
                <div class="card-body">
                    <h4 class="card-title">Medan Tour</h4>
                    <h4 class="card-title">Start from: USD 366.99</h4>
                    <p class="card-text"> 4D3N. <br>Packages for 2 or more people.</p>
                    <a href="#" class="btn btn-dark">Detail</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="guide">
    <h3>
        Travel Guide by Expedia
    </h3>
    <div class="row">
        <div class="col">
            <iframe width="853" height="480" src="https://www.youtube.com/embed/uwkLdqUOrxE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col">
            <iframe width="853" height="480" src="https://www.youtube.com/embed/-dQexveY0cs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col">
            <iframe width="853" height="480" src="https://www.youtube.com/embed/bl1k2-cLdV8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>


{% endblock %}