{% extends 'baseid.html' %} {% load static %} {% block content %}

<div class="hero">
    <h1 class="animate__animated animate__fadeInDown">
        Temukan Surga di Bumi
    </h1>
</div>

<div class="about">
    <h2>
        Tentang Indonesia
    </h2>
    <div data-aos="zoom-in" data-aos-duration="1500">
        <div class="row">
            <div class="col">
                <img src="{% static 'img/about-min.jpeg' %}" alt="jakarta">
            </div>
            <div class="col">
                <p>Indonesia adalah negara kepulauan terbesar di dunia. Indonesia memiliki lebih dari 17.000 pulau. Kalimantan, Jawa, Sulawesi, Sumatera dan Papua adalah pulau-pulau utama Indonesia. Selain itu terdapat beberapa pulau kecil yang ada di Indonesia
                    seperti Bali, Kalimon Jawa, Gili dan Lombok yang kesemuanya merupakan tempat wisata lokal dan internasional. Ibu kota Indonesia adalah Jakarta yang terletak di pulau Jawa.
                </p>
                <p>Secara geografis, Kepulauan Indonesia terletak di antara 5 ° 54'08 "Bujur Utara hingga 11 ° 08'20" Bujur Selatan dan 95 ° 00'38 "hingga 141 ° 01'12" Bujur Timur. Ada beberapa pulau di ekuator. Jadi siang dan malam sudah hampir waktu yang
                    sama, yaitu 12 jam. Berdasarkan letak geografisnya yang luas, wilayah Indonesia terbagi menjadi 3 zona waktu yaitu WIB (Waktu Indonesia Bagian Barat), WITA (Waktu Indonesia Tengah) dan WIT (Waktu Indonesia Bagian Timur). Dari satu
                    pulau ke pulau lainnya, mungkin ada perbedaan waktu hingga 8 jam.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="sub-hero" style=" 
background: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url({% static 'img/hero2-min.jpeg' %});
background-position: center;
background-size: cover;">
    <div data-aos="fade-up" data-aos-duration="1000">
        <h1>
            Destinasi Wisata
        </h1>
    </div>
</div>

<div class="natural">
    <h2>
        Keindahan Alam
    </h2>

    <div class="row">
        <div class="col">
            <div data-aos="zoom-in" data-aos-duration="1000">
                <div class="card">
                    <img src="{% static 'img/pandar-min.jpg' %}" class="card-img-top" alt="pandar island">
                    <div class="card-body">
                        <p class="card-text">
                            Pulau Padar merupakan pulau terbesar ketiga di kawasan Taman Nasional Komodo, setelah Pulau Komodo dan Pulau Rinca. Dibandingkan dengan Pulau Komodo yang dipisahkan oleh Selat Linda, pulau ini relatif lebih dekat dengan Pulau Rinca.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div data-aos="zoom-in" data-aos-duration="1000">
                <div class="card">
                    <img src="{% static 'img/bromo-min.jpg' %}" class="card-img-top" alt="bromo">
                    <div class="card-body">
                        <p class="card-text">
                            Gunung Bromo adalah gunung berapi aktif dan bagian dari pegunungan Tengger, di Jawa Timur, Indonesia. Kawasan massif merupakan salah satu tempat wisata di Jawa Timur yang paling banyak dikunjungi, Indonesia. Nama Bromo berasal dari pengucapan bahasa Jawa
                            yaitu Brahma, yaitu Hindu dewa pencipta.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div data-aos="zoom-in" data-aos-duration="1000">
                <div class="card">
                    <img src="{% static 'img/weekuri-min.jpg' %}" class="card-img-top" alt="weekuri">
                    <div class="card-body">
                        <p class="card-text">
                            Laguna Weekuri adalah sebuah danau air asin yang terletak di Desa Kalena Rongo, Kecamatan Kodi Utara, Kabupaten Sumba Barat Daya, Nusa Tenggara Timur. Laguna Weekuri terletak sekitar 60 kilometer dari ibu kota kabupaten, Tambolaka.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div data-aos="zoom-in" data-aos-duration="1000">
                <div class="card">
                    <img src="{% static 'img/bekantan-min.jpg' %}" class="card-img-top" alt="bekantan">
                    <div class="card-body">
                        <p class="card-text">
                            Bekantan adalah sejenis monyet berhidung panjang dengan bulu berwarna coklat kemerahan dan merupakan salah satu dari dua spesies dalam genus Nasalis. Bekantan merupakan hewan endemik pulau Kalimantan yang tersebar di hutan bakau, rawa dan hutan pantai.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div data-aos="zoom-in" data-aos-duration="1000">
                <div class="card">
                    <img src="{% static 'img/cendrawasih-min.jpg' %}" class="card-img-top" alt="cendrawasih">
                    <div class="card-body">
                        <p class="card-text">
                            Burung Cenderawasih adalah anggota famili Paradisaeidae dari ordo Passeriformes. Mereka ditemukan di Indonesia bagian timur. Burung anggota keluarga ini dikenal dengan bulu jantan dari banyak jenis, terutama yang sangat memanjang dan bulu rumit yang tumbuh
                            dari paruh, sayap atau kepalanya.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div data-aos="zoom-in" data-aos-duration="1000">
                <div class="card">
                    <img src="{% static 'img/komodo-min.jpg' %}" class="card-img-top" alt="komodo">
                    <div class="card-body">
                        <p class="card-text">
                            Komodo, juga dikenal sebagai komodo, adalah spesies biawak besar yang ditemukan di Komodo, Rinca, Flores, Gili Motang dan Gili Dasami di Provinsi Nusa Tenggara Timur, Indonesia. Biawak ini juga disebut oleh penduduk asli Komodo Pulau dengan nama ora.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div data-aos="zoom-in" data-aos-duration="1000">
                <div class="card">
                    <img src="{% static 'img/edelwis-min.JPG' %}" class="card-img-top" alt="edelwis">
                    <div class="card-body">
                        <p class="card-text">
                            Anaphalis javanica atau edelweis jawa merupakan jenis tumbuhan berbunga endemik Indonesia. Mereka kebanyakan ditemukan di daerah pegunungan di Jawa, Sumatera bagian selatan, Sulawesi bagian selatan dan Lombok.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div data-aos="zoom-in" data-aos-duration="1000">
                <div class="card">
                    <img src="{% static 'img/anggrek-min.jpg' %}" class="card-img-top" alt="tiger orchid">
                    <div class="card-body">
                        <p class="card-text">
                            Grammatophyllum speciosum, disebut juga anggrek raksasa, anggrek macan, anggrek tebu atau ratu anggrek, merupakan salah satu jenis anggrek asli Indonesia. Itu terdaftar oleh Guinness Book of World Records sebagai anggrek tertinggi di dunia, dengan spesimen
                            tercatat setinggi 7,62 meter (25 kaki).
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div data-aos="zoom-in" data-aos-duration="1000">
                <div class="card">
                    <img src="{% static 'img/raflesia-min.jpg' %}" class="card-img-top" alt="rafflesia arnoldi">
                    <div class="card-body">
                        <p class="card-text">
                            Rafflesia adalah bunga parasit yang cantik. Tanaman ini ditemukan di hutan hujan Indonesia oleh seorang pemandu berkebangsaan Indonesia yang bekerja untuk Dr. Joseph Arnold pada tahun 1818. Tanaman ini tidak memiliki batang, daun atau akar yang sebenarnya.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="buildings">
    <h2>
        Bangunan Bersejarah
    </h2>
    <div class="row">
        <div class="col">
            <div data-aos="zoom-in" data-aos-duration="1000">
                <div class="card">
                    <img src="{% static 'img/prambanan-min.jpg' %}" class="card-img-top" alt="prambanan">
                    <div class="card-body">
                        <p class="card-text">
                            Prambanan atau Rara Jonggrang adalah kompleks candi Hindu abad ke-9 di Daerah Istimewa Yogyakarta, Indonesia, didedikasikan untuk Trimūrti, ekspresi Tuhan sebagai Pencipta (Brahma), Pemelihara (Wisnu) dan Perusak (Siwa). Kompleks candi terletak di provinsi
                            Yogyakarta.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div data-aos="zoom-in" data-aos-duration="1000">
                <div class="card">
                    <img src="{% static 'img/borobudur-min.jpg' %}" class="card-img-top" alt="borobudur">
                    <div class="card-body">
                        <p class="card-text">
                            Borobudur adalah candi Budha Mahayana abad ke-9 di Kabupaten Magelang, tidak jauh dari kota Muntilan, Jawa Tengah, Indonesia. Ini adalah kuil Budha terbesar di dunia. Candi terdiri dari sembilan platform bertumpuk, enam persegi dan tiga lingkaran. diatapi
                            kubah tengah. Itu dihiasi dengan 2.672 panel relief dan 504 patung Buddha.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div data-aos="zoom-in" data-aos-duration="1000">
                <div class="card">
                    <img src="{% static 'img/monas-min.jpg' %}" class="card-img-top" alt="monas">
                    <div class="card-body">
                        <p class="card-text">
                            Monumen Nasional adalah obelisk setinggi 132 m (433 kaki) di tengah Lapangan Merdeka, Jakarta Pusat, melambangkan perjuangan untuk Indonesia. Merupakan monumen nasional Republik Indonesia, dibangun untuk memperingati perjuangan kemerdekaan Indonesia.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div data-aos="zoom-in" data-aos-duration="1000">
                <div class="card">
                    <img src="{% static 'img/maimun-min.jpg' %}" class="card-img-top" alt="maimun palace">
                    <div class="card-body">
                        <p class="card-text">
                            Istana Maimun adalah istana Kesultanan Deli yang merupakan salah satu ikon Kota Medan, Sumatera Utara yang terletak di Jalan Brigadir Jenderal Katamso, Aur, Medan Maimun, Medan. Didesain oleh Kapten Theodoor van Erp, seorang prajurit dari Kerajaan Belanda
                            yang dibangun atas perintah Sultan Deli, Sultan Ma'moen Al Rasyid.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div data-aos="zoom-in" data-aos-duration="1000">
                <div class="card">
                    <img src="{% static 'img/gadang-min.jpg' %}" class="card-img-top" alt="gadang clock tower">
                    <div class="card-body">
                        <p class="card-text">
                            Jam Gadang (Minangkabau untuk "Jam Besar") adalah menara jam, landmark utama, dan objek wisata di kota Bukittinggi, Sumatera Barat, Indonesia. Letaknya di tengah kota, dekat pasar utama, Pasar Ateh. Ini memiliki jam besar di setiap sisi.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div data-aos="zoom-in" data-aos-duration="1000">
                <div class="card">
                    <img src="{% static 'img/tamansari-min.jpg' %}" class="card-img-top" alt="taman sari">
                    <div class="card-body">
                        <p class="card-text">
                            Istana Air Taman Sari, merupakan lokasi bekas taman kerajaan Kesultanan Yogyakarta. Letaknya sekitar 2 km selatan di dalam kawasan Kraton, Yogyakarta, Indonesia. Dibangun pada pertengahan abad ke-18, Taman Sari memiliki banyak fungsi, seperti tempat istirahat,
                            bengkel, tempat meditasi, tempat pertahanan, dan tempat persembunyian.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="sub-hero" style=" 
background: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url({% static 'img/hero3-min.jpg' %});
background-position: center;
background-size: cover;">
    <div data-aos="fade-up" data-aos-duration="1000">
        <h1>
            Budaya Indonesia
        </h1>
    </div>
</div>

<div class="dance">
    <h2>
        Pertunjukkan Tradisional
    </h2>
    <div class="row">
        <div class="col col-big">
            <iframe src="https://www.youtube.com/embed/8fTHblviKi8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col col-big">
            <iframe src="https://www.youtube.com/embed/lLYnysvk_-E" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>

<div class="song">
    <h2>
        Lagu Tradisional
    </h2>
    <div class="row">
        <div class="col col-small">
            <iframe src="https://open.spotify.com/embed/track/27k71irMiXBLfVRCqVvFmp" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>
        <div class="col col-small">
            <iframe src="https://open.spotify.com/embed/track/7BtorVDYe0ex0q4b2r5kHZ" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>
        <div class="col col-small">
            <iframe src="https://open.spotify.com/embed/track/2IMCMTvNZ3KPY6ZDwMH7hq" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>
        <div class="col col-small">
            <iframe src="https://open.spotify.com/embed/track/68ZCue4lxVwVVCiF1w51jQ" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>
    </div>
</div>

<div class="batik-ulos">
    <h2>
        Batik dan Ulos
    </h2>
    <div data-aos="fade-up" data-aos-duration="2000">
        <div class="row">
            <div class="col">
                <div class="card">
                    <img src="{% static 'img/batik-min.jpg' %}" class="card-img-top" alt="batik">
                    <div class="card-body">
                        <p class="card-text">
                            Batik adalah teknik pewarnaan tahan lilin di Indonesia yang diterapkan pada seluruh kain. Teknik ini berasal dari pulau Jawa, Indonesia. Batik dibuat baik dengan menggambar titik-titik dan garis-garis penahan dengan alat corot yang disebut tjanting, atau
                            dengan mencetak. tahan dengan cap tembaga yang disebut topi.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="{% static 'img/ulos-min.jpg' %}" class="card-img-top" alt="ulos">
                    <div class="card-body">
                        <p class="card-text">
                            Ulos adalah kain tradisional masyarakat Batak Sumatera Utara di Indonesia. Jenis ulos yang berbeda memiliki makna seremonial yang berbeda pula. Ulos biasanya dipakai disampirkan di bahu atau bahu, atau dalam pernikahan untuk mengikat pengantin wanita.
                            dan pengantin pria bersama.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="sub-hero" style=" 
background: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url({% static 'img/hero4-min.jpg' %});
background-position: center;
background-size: cover;">
    <div data-aos="fade-up" data-aos-duration="1000">
        <h1>
            Hidangan Khas Indonesia
        </h1>
    </div>
</div>
<div class="foods">
    <div class="row">
        <div class="col">
            <div data-aos="zoom-in-right" data-aos-duration="1000">
                <div class="card">
                    <div class="row no-gutters">
                        <div class="col-md-6">
                            <img src="{% static 'img/rendang-min.jpeg' %}" class="card-img-top" alt="rendang">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <p class="card-text">
                                    Rendang merupakan masakan daging yang berasal dari Minangkabau. Hidangan ini dihasilkan dari proses memasak suhu rendah yang lama menggunakan berbagai bumbu dan santan.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div data-aos="zoom-in-left" data-aos-duration="1000">
                <div class="card">
                    <div class="row no-gutters">
                        <div class="col-md-6">
                            <img src="{% static 'img/soto-min.jpg' %}" class="card-img-top" alt="soto">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <p class="card-text">
                                    Soto adalah makanan khas Indonesia berupa sop yang terbuat dari kaldu daging dan sayur. Daging yang paling umum digunakan adalah daging sapi dan ayam, tetapi beberapa menggunakan daging babi atau kambing.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div data-aos="zoom-in-right" data-aos-duration="1000">
                <div class="card">
                    <div class="row no-gutters">
                        <div class="col-md-6">
                            <img src="{% static 'img/tempe-min.jpg' %}" class="card-img-top" alt="tempe">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <p class="card-text">
                                    Tempe adalah produk kedelai tradisional Indonesia yang terbuat dari kedelai hasil fermentasi. Itu dibuat dengan kultur alami dan proses fermentasi terkontrol yang mengikat kedelai menjadi bentuk kue.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div data-aos="zoom-in-left" data-aos-duration="1000">
                <div class="card">
                    <div class="row no-gutters">
                        <div class="col-md-6">
                            <img src="{% static 'img/sate-min.jpg' %}" class="card-img-top" alt="sate">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <p class="card-text">
                                    Sate adalah masakan Indonesia dengan daging yang dibumbui, ditusuk dan dibakar, disajikan dengan kuah. Sate bisa terdiri dari daging ayam, kambing, kambing, sapi, babi, ikan, atau lainnya yang dipotong dadu atau diiris.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div data-aos="zoom-in-right" data-aos-duration="1000">
                <div class="card">
                    <div class="row no-gutters">
                        <div class="col-md-6">
                            <img src="{% static 'img/kelpon-min.jpg' %}" class="card-img-top" alt="klepon">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <p class="card-text">
                                    Klepon adalah bola lontong berwarna hijau tradisional Asia Tenggara yang diisi dengan gula aren cair dan dilapisi kelapa parut, berasal dari Indonesia. Bola ketan manis adalah salah satu kue khas Indonesia yang populer.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div data-aos="zoom-in-left" data-aos-duration="1000">
                <div class="card">
                    <div class="row no-gutters">
                        <div class="col-md-6">
                            <img src="{% static 'img/lemper-min.jpg' %}" class="card-img-top" alt="lemper">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <p class="card-text">
                                    Lemper adalah camilan gurih khas Indonesia yang terbuat dari nasi yang diisi dengan suwiran ayam, ikan, atau abon. Isi daging digulung di dalam nasi dan dibungkus di dalam daun pisang sehingga bungkusnya siap disajikan.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div data-aos="zoom-in-right" data-aos-duration="1000">
                <div class="card">
                    <div class="row no-gutters">
                        <div class="col-md-6">
                            <img src="{% static 'img/kopi-min.JPG' %}" class="card-img-top" alt="Luwak Coffee">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <p class="card-text">
                                    Kopi luwak adalah kopi yang terdiri dari ceri kopi yang dicerna sebagian, yang dimakan dan dibuang oleh musang kelapa Asia. Kopi luwak diproduksi terutama di pulau Sumatera, Jawa, Bali, dan Sulawesi di Indonesia.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div data-aos="zoom-in-left" data-aos-duration="1000">
                <div class="card">
                    <div class="row no-gutters">
                        <div class="col-md-6">
                            <img src="{% static 'img/jamu-min.jpeg' %}" class="card-img-top" alt="jamu">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <p class="card-text">
                                    Jamu adalah obat tradisional dari Indonesia. Sebagian besar jamu terbuat dari bahan alami, seperti akar, kulit kayu, bunga, biji, daun, buah, madu, royal jelly, susu dan telur.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="sub-hero" style=" 
background: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url({% static 'img/hero5-min.jpeg' %});
background-position: center;
background-size: cover;">
    <div data-aos="fade-up" data-aos-duration="1000">
        <h1>
            Ayo ke Indoensia
        </h1>
    </div>
</div>
<div class="tour">
    <h3>
        Paket Wisata Kami
    </h3>
    <div class="row">
        <div class="col">
            <div class="card">
                <img src="{% static 'img/bali-pura.jpg'%}" class="card-img-top" alt="bali">
                <div class="card-body">
                    <h4 class="card-title">Bali Tour</h4>
                    <h4 class="card-title">Mulai dari: Rp 4.500.000 </h4>
                    <p class="card-text">3H2M. <br> Paket 2 orang atau lebih.</p>
                    <a href="#" class="btn btn-dark">Detail</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="{% static 'img/lombok.jpg'%}" class="card-img-top" alt="lombok">
                <div class="card-body">
                    <h4 class="card-title">Lombok Tour</h4>
                    <h4 class="card-title">Mulai dari: Rp 5.800.000</h4>
                    <p class="card-text">3H2M.<br>Paket 2 orang atau lebih. </p>
                    <a href="#" class="btn btn-dark">Detail</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="{% static 'img/medan.jpg'%}" class="card-img-top" alt="medan">
                <div class="card-body">
                    <h4 class="card-title">Medan Tour</h4>
                    <h4 class="card-title">Mulai dari: Rp 5.200.000</h4>
                    <p class="card-text"> 4H3M. <br>Paket 2 orang atau lebih.</p>
                    <a href="#" class="btn btn-dark">Detail</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="guide">
    <h3>
        Travel Guide dari Expedia
    </h3>
    <div class="row">
        <div class="col">
            <iframe width="853" height="480" src="https://www.youtube.com/embed/uwkLdqUOrxE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col">
            <iframe width="853" height="480" src="https://www.youtube.com/embed/-dQexveY0cs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col">
            <iframe width="853" height="480" src="https://www.youtube.com/embed/bl1k2-cLdV8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>


{% endblock %}